@font-face {
  font-family: "Averta";
  src: url(../fonts/AvertaDemoPECuttedDemo.ttf) format("truetype");
}

@font-face {
  font-family: "Proxima Nova";
  src: url(../fonts/ProximaNovaBold.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Averta";
  font-weight: 400;
}

.main-container {
  max-width: 1440px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 27.1472px;
  line-height: 33px;
  color: #000000;
  padding: 42px 120px 23px 120px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  align-items: center;
}

.logo {
  font-family: "Proxima Nova";
}

.logo-text {
  font-family: "Averta";
}

.header-menu {
  list-style: none;
  display: flex;
  gap: 60px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.01em;
  color: #000000;
}

.header-link {
  text-decoration: none;
  color: #000000;
}

.hero-container {
  display: flex;
}
.hero-text-container {
  display: flex;
  flex-direction: column;
  width: 471px;
  justify-content: center;
  margin-right: 95px;
  position: relative;
}
.hero-heading {
  font-weight: 400;
  font-size: 40px;
  line-height: 49px;
  color: #000000;
  font-family: "Proxima Nova";
  margin-bottom: 40px;
}
.hero-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #565656;
  margin-bottom: 33px;
}
.hero-button {
  width: 215px;
  height: 65px;
  background-color: #2639ed;
  border-radius: 60px;
  border: none;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  font-family: inherit;
  color: #ffffff;
  cursor: pointer;
}

.hero-dots {
  position: absolute;
  bottom: 0;
  left: -52px;
  z-index: -1;
}

.hero-image-container {
  position: relative;
}

.hero-image {
  margin-right: -120px;
  z-index: 5;
}

.hero-blue {
  position: absolute;
  left: -65px;
  z-index: -2;
}

.hero-yellow {
  position: absolute;
  right: 0;
  bottom: -89px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  z-index: -3;
}

.client-container {
  margin-top: 136px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.client-text-container {
  width: 336px;
}

.client-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: #757575;
}
.client-heading {
  font-weight: 400;
  font-size: 40px;
  line-height: 49px;
  font-family: "Proxima Nova";
  color: #000000;
}

.product-container {
  margin-top: 94px;
  display: flex;
  position: relative;
}

.product-text-container {
  width: 396px;
  margin-right: 91px;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
}
.product-heading {
  font-weight: 400;
  font-size: 40px;
  line-height: 49px;
  font-family: "Proxima Nova";
  color: #000000;
  margin-bottom: 30px;
}
.product-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #565656;
}

.product-text-rectangle {
  position: absolute;
  z-index: -1;
  top: 280px;
  left: -38px;
}

.product-text-dots {
  position: absolute;
  bottom: 60px;
}

.product-card-container {
  display: flex;
  position: relative;
}
.product-card-container__inside-left {
  margin-right: 34px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 79px;
}

.product-card {
  width: 308px;
  height: 379px;
  padding: 39px 32px 57px 31px;
  background-color: #ffffff;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.05);
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.product-card-heading {
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  font-family: "Proxima Nova";
  margin-bottom: 27px;
}

.product-card-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #757575;
}

.product-logo {
  width: 121px;
  height: 121px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 31px;
}

.logo-blue {
  background-color: #f4f9ff;
}

.logo-pink {
  background-color: #fff2f8;
}

.logo-orange {
  background-color: #fff7e3;
}

.logo-green {
  background-color: #deffee;
}

.product-card-container__inside-right {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.product-bg {
  position: absolute;
  z-index: -1;
  top: 140px;
  left: 270px;
}

.product-elipse {
  position: absolute;
  bottom: 30px;
  right: 0;
  z-index: -2;
}

.about-container {
  display: flex;
  margin-top: 146px;
}
.left-container {
  margin-right: 118px;
  position: relative;
}

.about-elipse {
  position: absolute;
  bottom: 10px;
  right: 20px;
  z-index: -1;
}

.right-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about-heading {
  font-weight: 400;
  font-size: 40px;
  line-height: 49px;
  color: #000000;
  font-family: "Proxima Nova";
}

.about-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #565656;
}

.about-rectangle {
  position: absolute;
  top: 100px;
  left: -40px;
  z-index: -1;
}

.client-header {
  text-align: center;
  margin-top: 181px;
}
.client-heading {
  font-weight: 400;
  font-size: 40px;
  line-height: 49px;
  color: #000000;
}
.client-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: #757575;
}

.client-container {
  display: flex;
  align-items: center;
}
.client-img-container {
  position: relative;
  margin-left: -73px;
  margin-right: 43px;
}
.client-photo {
}

.client-elipse {
  position: absolute;
  bottom: 90px;
  left: 30px;
  z-index: -1;
}

.client-dots {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.testimonial-contaainer {
  display: flex;
  flex-direction: column;
  margin-top: -80px;
}

.client-name {
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  margin-bottom: 21px;
  font-family: "Proxima Nova";
}

.testimonial-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #565656;
  margin-right: 38px;
  margin-bottom: 40px;
}

.dots {
  display: flex;
  gap: 26px;
}

.dots > img {
  cursor: pointer;
}

.client-photo-container {
  position: relative;
}

.client-photos {
  margin-right: -51px;
}

.client-photos-elipse {
  position: absolute;
  left: 40px;
  top: 130px;
  z-index: -1;
  scale: 1.4;
}

.subscribe-container {
  display: flex;
  justify-content: space-between;
  margin-top: 148px;
  height: 292px;
  align-items: center;
  padding: 0 98px 0 92px;
  background-color: #f4f9ff;
  border-radius: 75px;
  position: relative;
}

.cubsribe-rectangle-yellow {
  position: absolute;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(270deg);
  z-index: -3;
  bottom: -40px;
  left: -40px;
}

.cubsribe-rectangle-blue {
  position: absolute;
  top: 0;
  right: 0;
}

.subscribe-text-container {
}

.subscribe-heading {
  font-weight: 400;
  font-size: 40px;
  line-height: 49px;
  color: #000000;
  font-family: "Proxima Nova";
  margin-bottom: 17px;
}

.subscribe-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: #757575;
}

/* Button inside input field */

.subscribe-form-container {
  /* This bit sets up the horizontal layout */
  display: flex;
  flex-direction: row;

  /* This bit draws the box around it */
  /* border: 1px solid grey; */

  /* I've used padding so you can see the edges of the elements. */
  padding: 1px;

  /* Align items center */
  align-items: center;
}

.subscribe-form {
  /* Tell the input to use all the available space */
  flex-grow: 2;
  /* And hide the input's outline, so the form looks like the outline */
  border: none;
}

/* remove the input focus blue box, it will be in the wrong place. */
.subscribe-form:focus {
  outline: none;
}

.subscribe-button {
  width: 188px;
  height: 60px;
  background: #2639ed;
  border-radius: 60px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: "Averta";
  color: #ffffff;
  margin-right: 10px;
  border: none;
  cursor: pointer;
}

.subscribe-form-container {
  width: 479px;
  height: 80px;
  background-color: #ffffff;
  border: 1px solid #f1f1f1;
  box-shadow: 10px 20px 50px rgba(0, 0, 0, 0.15);
  border-radius: 60px;
  z-index: 5;
}

.subscribe-form {
  padding-left: 34px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: "Averta";
  outline: none;
}

.subscribe-form:placeholder-shown {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #959595;
  font-family: "Averta";
}

.subscribe-dots {
  position: absolute;
  top: -56px;
  right: -37px;
  z-index: -2;
}

.footer {
  border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid #f1f1f1;
  /* transform: matrix(1, 0, -1, 0, 0, 0); */
  margin-top: 146px;
}

.footer {
  padding: 60px 0 29px 0;
  display: flex;
}

.footer-text-container {
  width: 270px;
  margin-right: 171px;
}

.footer-heading {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-bottom: 26px;
}

.footer-heading > span {
  font-family: "Proxima Nova";
}

.footer-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  color: #565656;
  margin-bottom: 40px;
}

.social-container {
  display: flex;
  gap: 16px;
}

.social-container > img {
  cursor: pointer;
}

.footer-menu {
  font-weight: 400;
  font-size: 14px;
  line-height: 200%;
  color: #000000;
  list-style: none;
  margin-top: 4px;
}

.first-li {
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #000000;
  font-family: "Proxima Nova";
  margin-bottom: 24px;
}

.manu-01 {
  margin-right: 121px;
}
.menu-02 {
  margin-right: 123px;
}
.menu-03 {
  margin-right: 106px;
}
.manu-04 {
}

.copyright {
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  color: #a4a4a4;
  margin-top: 17px;
  text-align: center;
}
