@font-face {
  font-family: "Averta";
  src: url(../fonts/AvertaDemoPECuttedDemo.ttf) format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Averta";
  font-weight: 400;
}
